global
    log stdout format raw local0

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:9999
    default_backend http_back

backend http_back
    balance roundrobin
    server api1 api1:8081 check
    server api2 api2:8082 check
