global 
  maxconn 1000

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s 
  timeout http-request 10s

# frontend stats # you can call this whatever you want
#   mode http
#   bind *:9000       # default port, but you can pick any port
#   stats enable      # turns on stats module
#   stats uri  /stats

frontend web
  bind *:80
  default_backend nodejs

backend nodejs
  balance roundrobin
  server server1 api01:3000
  server server2 api02:3000

