global
  maxconn 4000

defaults
  mode tcp
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend frontend
  mode tcp
  bind *:9999
  default_backend backend

backend backend
  mode tcp
  balance roundrobin
  server api-1 127.0.0.1:9997
  server api-2 127.0.0.1:9998
