global
  maxconn 99999
  
defaults
  mode http
  timeout client 30s
  timeout connect 10s
  timeout server 60s
  timeout http-request 60s

frontend rinhaapi
  bind :9999
  mode http
  default_backend api

backend api
  balance roundrobin
  server api1 api01:8080
  server api2 api02:8081
