version: '3.5'

services:
  api01: &api
    build:
      context: .
      dockerfile: Dockerfile
    image: heitorjsr/rinha-api:latest
    restart: always
    ports:
      - "8081:8080"
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: "50MB"
    environment:
      DSN: "host=postgres port=5432 user=postgres password=password dbname=rinha sslmode=disable timezone=UTC connect_timeout=5"
  api02:
    <<: *api
    hostname: api02
    image: heitorjsr/rinha-api:latest
    ports:
      - "8082:8080"
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: "50MB"
  
  postgres:
    image: 'postgres:latest'
    ports:
      - "5432:5432"
    restart: always
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "390MB"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: rinha
    volumes:
      - ./data/init.sql:/docker-entrypoint-initdb.d/init.sql
    command: postgres -c checkpoint_timeout=600 -c max_wal_size=4096
    healthcheck:
      test: pg_isready -U "$$POSTGRES_USER" -d "$$POSTGRES_DB"
      interval: 10s
      timeout: 2s
      retries: 10

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999"
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: "10MB"
networks:
  default:
    driver: bridge
    name: rinha-nginx-2024q1