global
  maxconn 5000

defaults
  mode http
  balance roundrobin
  timeout connect 60000ms
  timeout client 1200000ms
  timeout server 1200000ms

frontend frontend
  bind :9999
  mode http
  default_backend backend

backend backend
  mode http
  balance roundrobin
  server server1 api01:8080 check
  server server2 api02:8080 check
