global
  maxconn 1024

defaults
  mode http
  timeout client 60s
  timeout connect 60s
  timeout server 60s
  timeout http-request 60s
  log global

frontend myfrontend
  bind :9999
  default_backend apis

backend apis
  mode http
  balance static-rr
  server s1 api01:3000
  server s2 api02:3000
