global
  maxconn 1000

defaults
  mode http
   timeout client 30s
   timeout connect 60s
   timeout server 60s
   timeout http-request 60s

frontend rinha
    bind :9999
    default_backend api

backend api
    balance roundrobin
    server api1 localhost:8180
    server api2 localhost:8280
