
version: '3.5'
services:
  api01: &api
    hostname: api01
    image: brunodelucasbarbosa/rinhabackend2024q1
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    environment:
      - DB_SERVER=db
      - DB_USER=admin
      - DB_PASSWORD=admin
      - DB_PORT=5432
      - DB_DATABASE=rinha
    ports:
      - "8081:8080"
    depends_on:
      - db
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.40"
          memory: "200MB"
  api02:
    <<: *api 
    hostname: api02
    environment:
      - DB_SERVER=db
      - DB_USER=admin
      - DB_PASSWORD=admin
      - DB_PORT=5432
      - DB_DATABASE=rinha
    ports:
      - "8082:8080"

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: rinha
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    deploy:
      resources:
        limits:
          cpus: "0.40"
          memory: "140MB"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999"
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.30"
          memory: "10MB"

networks:
  rinha:
    driver: bridge