version: "3.9"

services:
  api01:
    networks:
      - rinha-net
    image: caravanacloud/rinhadebackend-native:latest
    hostname: api01
    container_name: api01
    environment:
      - DB_HOSTNAME=db
      - QUARKUS_BANNER_ENABLED=false
#      - QUARKUS_HTTP_LIMITS_MAX_CONNECTIONS=60000
      - QUARKUS_HTTP_IDLE_TIMEOUT=45
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://db:5400/rinha
      - QUARKUS_DATASOURCE_JDBC_INITIAL_SIZE=50
      - QUARKUS_DATASOURCE_JDBC_MIN_SIZE=50
      - QUARKUS_DATASOURCE_JDBC_MAX_SIZE=50
      - QUARKUS_DATASOURCE_JDBC_ACQUISITION_TIMEOUT=60
      - QUARKUS_TRANSACTION_MANAGER_DEFAULT_TRANSACTION_TIMEOUT=60
      - QUARKUS_DATASOURCE_JDBC_BACKGROUND_VALIDATION_INTERVAL=0
      - QUARKUS_DATASOURCE_USERNAME=rinha
      - QUARKUS_DATASOURCE_PASSWORD=123
      - QUARKUS_LOG_LEVEL=ERROR
      - QUARKUS_LOG_CATEGORY__caravanacloud__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__io.quarkus__LEVEL=DEBUG
      - QUARKUS_LOG_CATEGORY__org.postgresql__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__io.netty__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__io.vertx__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__org.jboss__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__org.flyway__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__io.smallreye__LEVEL=INFO
    ports:
      - "9001:9990"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://api01:9990/clientes/1/extrato"]
      interval: 3s
      retries: 15
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    deploy:
      resources:
        limits:
          cpus: "0.40"
          memory: "80MB"
  api02:
    networks:
      - rinha-net
    image: caravanacloud/rinhadebackend-native:latest
    hostname: api02
    container_name: api02
    environment:
      - DB_HOSTNAME=db
      - QUARKUS_BANNER_ENABLED=false
#      - QUARKUS_HTTP_LIMITS_MAX_CONNECTIONS=60000
      - QUARKUS_HTTP_IDLE_TIMEOUT=45
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://db:5400/rinha
      - QUARKUS_DATASOURCE_JDBC_INITIAL_SIZE=50
      - QUARKUS_DATASOURCE_JDBC_MIN_SIZE=50
      - QUARKUS_DATASOURCE_JDBC_MAX_SIZE=50
      - QUARKUS_DATASOURCE_JDBC_ACQUISITION_TIMEOUT=60
      - QUARKUS_TRANSACTION_MANAGER_DEFAULT_TRANSACTION_TIMEOUT=60
      - QUARKUS_DATASOURCE_JDBC_BACKGROUND_VALIDATION_INTERVAL=0
      - QUARKUS_DATASOURCE_USERNAME=rinha
      - QUARKUS_DATASOURCE_PASSWORD=123
      - QUARKUS_LOG__LEVEL=ERROR
      - QUARKUS_LOG_CATEGORY__caravanacloud__LEVEL=INFO
#      - QUARKUS_LOG_CATEGORY__io.quarkus__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__org.postgresql__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__io.netty__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__io.vertx__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__org.jboss__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__org.flyway__LEVEL=INFO
      - QUARKUS_LOG_CATEGORY__io.smallreye__LEVEL=INFO
    ports:
      - "9002:9990"
    depends_on:
      db:
        condition: service_healthy
      api01:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://api02:9990/clientes/1/extrato"]
      interval: 3s
      retries: 15
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    deploy:
      resources:
        limits:
          cpus: "0.40"
          memory: "80MB"


  nginx:
    hostname: lb
    container_name: lb
    networks:
      - rinha-net 
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      api01:
        condition: service_healthy
      api02:
        condition: service_healthy
    ports:
      - "9999:9999"
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://lb:9999/clientes/1/extrato"]
      interval: 3s
      retries: 15
    deploy:
      resources:
        limits:
          cpus: "0.20"
          memory: "40MB"
    
  db:
    networks:
      - rinha-net
    image: postgres:latest
    hostname: db
    container_name: db
    environment:
      - POSTGRES_PASSWORD=123
      - POSTGRES_USER=rinha
      - POSTGRES_DB=rinha
    ports:
      - "5400:5400"
    expose:
      - "5400"
    volumes:
      - ./init.postgresql.sql:/docker-entrypoint-initdb.d/init.sql
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
    command: 'postgres -c config_file=/etc/postgresql/postgresql.conf'  
    deploy:
      resources: 
        limits:
          cpus: "0.50"
          memory: "350MB"
    healthcheck:
      test: ["CMD", "pg_isready", "--username", "rinha", "--port", "5400"]
      interval: 5s
      timeout: 1s
      retries: 15
      start_period: 5s


networks:
  rinha-net:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 9000
