services:
    api01: &api
        hostname: api01
        image: whyakari/rinha:latest
        volumes:
            - .:/app
        environment:
            - DATABASE_URL=sqlite:///app/rinha.db
        ports:
            - "3001:3000"
        deploy:
            resources:
                limits:
                    cpus: "0.55"
                    memory: "200MB"

    api02:
        <<: *api
        hostname: api02
        ports:
            - "3002:3000"

    nginx:
        image: nginx:latest
        volumes:
            - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on:
            - api01
            - api02
        ports:
            - "9999:9999"
        deploy:
            resources:
                limits:
                    cpus: "0.1"
                    memory: "30MB"

    sqlite:
        image: library/sqlite:latest
        volumes:
            - ./data:/app/data
        deploy:
            resources:
                limits:
                    cpus: "0.3"
                    memory: "120MB"

networks:
    default:
        driver: bridge
        name: rinha-nginx-2024q1

