defaults
    mode tcp
    timeout connect 2000ms
    timeout client 20000ms
    timeout server 20000ms

frontend http_front
    bind *:9999
    default_backend api_servers

backend api_servers
    balance roundrobin
    server api1 127.0.0.1:9990
    server api2 127.0.0.1:9991
