version: "3.5"

services:
   api01: &api
    image: kleytonsolinho/rinha-de-backend-2024-q1:latest
    hostname: api01
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - default
    environment:
      - DB_HOSTNAME=db
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: "0.20"
          memory: "35MB"

   api02:
    <<: *api 
    hostname: api02

   nginx:
    container_name: nginx
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999" 
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: "50MB"
   db:
    image: mysql:5.7
    container_name: mysql
    restart: unless-stopped
    networks:
      - default
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mysql-db
      MYSQL_PASSWORD: root
    ports:
      - 3306:3306
    volumes:
      - ./script.sql:/docker-entrypoint-initdb.d/script.sql
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "430MB"

networks:
  default:
    driver: bridge
    name: rinha-nginx-2024q1