global
  maxconn 4096

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend myfrontend
  no log
  bind 0.0.0.0:9999
  default_backend myservers

backend myservers
  no log
  mode http
  balance roundrobin

  server server1 127.0.0.1:8001
  server server2 127.0.0.1:8002
