[mysqld_safe]
open_files_limit=4294967295

[mariadbd]
performance_schema = off
max_connections = 250
innodb_flush_log_at_trx_commit = 0

innodb_doublewrite = 0
innodb_flush_method = O_DIRECT_NO_FSYNC
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2

innodb_log_buffer_size = 10M
innodb_buffer_pool_size = 100M

log_bin = 0
sync_binlog = 0
slow_query_log = 0

max_connections = 300

join_buffer_size=2M