global
    maxconn 512
    log stdout local0 notice

defaults
   log global
   option httplog
   option dontlognull
   option forwardfor
   maxconn 384
   timeout connect 5s
   timeout client 5s
   timeout server 5s

frontend http-in
  mode tcp
  bind *:80
  use_backend api-servers

backend api-servers
  mode tcp
  balance roundrobin
  server api01 api01:3000 check
  server api02 api02:3000 check

