{:prod {:service-name "carimbo"
        :service      {:host "0.0.0.0"
                       :port 8080}
        :postgresql   {:host     "db"
                       :port     5432
                       :database "carimbo"
                       :username "carimbo-miguel"
                       :password "xerox"}
        :customers    [{:customer/id      1
                        :customer/limit   100000
                        :customer/balance 0}
                       {:customer/id      2
                        :customer/limit   80000
                        :customer/balance 0}
                       {:customer/id      3
                        :customer/limit   1000000
                        :customer/balance 0}
                       {:customer/id      4
                        :customer/limit   10000000
                        :customer/balance 0}
                       {:customer/id      5
                        :customer/limit   500000
                        :customer/balance 0}]}}
