global
  maxconn 2000
  daemon
  tune.ssl.default-dh-param 2048

defaults
  mode tcp
  timeout connect 4s
  timeout client  50s
  timeout server  50s
  retries 2
  option redispatch

frontend fe_tcp
  bind *:9999
  mode tcp
  default_backend be_tcp

backend be_tcp
  mode tcp
  balance roundrobin
  server api01 localhost:3000 check
  server api02 localhost:3001 check
