global
  tune.maxaccept 64
  maxconn 100
  daemon
  tune.ssl.default-dh-param 2048

defaults
  mode http
  timeout connect 3s
  timeout client  1s
  timeout server  1s
  option redispatch
  option http-keep-alive
  option forwardfor
  retries 1

frontend http_front
  bind *:9999
  default_backend http_back

backend http_back
  balance roundrobin
  server api1 api01:80 check
  server api2 api02:80 check
