global
  maxconn 4000

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s 
  timeout http-request 10s

frontend frontend
  bind *:9999
  default_backend backend

backend backend
  balance roundrobin
  server service-01 service-01:8000
  server service-02 service-02:8000
