global
  maxconn 99999
  
defaults
  mode http
  timeout client 30s
  timeout connect 10s
  timeout server 60s
  timeout http-request 60s

frontend rinha
  bind :9999
  default_backend api

backend api
  mode http
  balance roundrobin
  #option httpchk
  server api01 api01:9090# weight 1 check inter 5 rise 2 fall 3
  server api02 api02:9091# weight 1 check inter 5 rise 2 fall 3

