global
  daemon
  maxconn 1000
  nbthread 2
defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend myfrontend
  bind 127.0.0.1:9999
  default_backend ringue

backend ringue
  balance  static-rr
  fullconn 1000
  server goku 127.0.0.1:8080
  server saitama 127.0.0.1:8081
