global
  maxconn 99999
  
defaults
  mode http
  timeout client 30s
  timeout connect 10s
  timeout server 60s
  timeout http-request 60s

frontend rinha
  bind :9999
  default_backend api

backend api
  mode http
  balance roundrobin
  server api_1 api_1:9999
  server api_2 api_2:9999
