global
  # stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 2s
  timeout connect 1s
  timeout server 2s
  timeout http-request 2s
  log global
  # maxconn 1000
  # user haproxy
  # group haproxy
  # daemon

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 5s

frontend http
  maxconn 100
  bind *:80
  default_backend apps

backend apps
  balance roundrobin
  option httpchk GET /health
  http-check expect status 200
  server s1 api01:8080 check maxconn 40
  server s2 api02:8080 check maxconn 40
  # server s3 api03:8080 check maxconn 40
  retries 2
  retry-on conn-failure response-timeout 503 504
