global
  maxconn 4000

defaults
  mode http
  timeout client 60s
  timeout connect 60s
  timeout server 60s
  timeout http-request 60s
  log global

frontend frontend
  bind *:9999
  default_backend backend

backend backend
  balance roundrobin
  server service-01 service-01:3000
  server service-02 service-02:3000
