version: "3.5"
name: 'rinha-gabrielmagalhaes'

services:

  api01: &api
    image: k4gero/quarkus-rinha-back-2024-q1:1.0.6
    hostname: api01
    environment:
      - PORT=8081
    ports:
      - "8081:8080"
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: '0.4'
          memory: '125MB'
    network_mode: "host"

  api02: 
    <<: *api
    hostname: api02
    environment:
      - PORT=8082
    ports:
      - "8082:8080"
    network_mode: "host"
     
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999" 
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: "50MB"

  db:
    image: postgres:latest
    hostname: db
    environment:
      - POSTGRES_PASSWORD=123
      - POSTGRES_USER=admin
      - POSTGRES_DB=rinha
    ports:
      - "5432:5432"
    volumes:
      - ./sql/ddl.sql:/docker-entrypoint-initdb.d/01-ddl.sql:ro
      - ./sql/reset.sql:/docker-entrypoint-initdb.d/01-reset.sql:ro
    command: ["postgres", "-c", "logging_collector=false", "-c", "max_connections=30"]
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: '250MB'
    healthcheck:
      test: ["CMD-SHELL", "psql -h localhost -U admin -d rinha -c 'SELECT 1;'"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s

networks:
  default:
    driver: bridge
    name: rinha-nginx-2024q1